    .progress {
      padding: 5px 0;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .outer-bar {
      width: 100%;
      border-radius: 1px;
      background-color: rgb(189, 189, 189);
    }

    .inner-bar {
      display: block;
      width: 0px;
      height: 2px;
      border-radius: 1px;
      background-color: #2196F3;
    }

    .mplayer {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-radius: 3px;
      width: 100%;
      font-size: 14px;
      color: #333;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }

    .mplayer:after {
      display: table;
      content: '';
      clear: both;
    }

    .mplayer-img {
      height: 76px;
      width: 76px;
      position: relative;
      float: left;
      background-size: cover;
    }

    .mplayer-body {
      margin-left: 90px;
      margin-bottom: 0px;
      padding-top: 8px;
      padding-right: 10px;
    }

    .mplayer-control:after {
      display: table;
      content: '';
      clear: both;
    }

    .mplayer-title {
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      -webkit-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
    }

    .mplayer-list-box {
      height: 185px;
      padding-left: 0px;
      margin: 0;
      overflow-y: scroll;
      transition: all .3s;
      -o-transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
    }

    .mplayer-list-box-0 {
      display: none;
    }

    .mplayer-list-box::-webkit-scrollbar {
      width: 3px;
    }

    .mplayer-list-box::-webkit-scrollbar-thumb {
      min-height: 20px;
      background-clip: content-box;
      border-radius: 999px;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .mplayer-list-box::-webkit-scrollbar-corner {
      background: transparent;
    }

    .mplayer-list-box li {
      color: #999;
      cursor: pointer;
      padding: 8px;
      list-style: none;
      line-height: 20px;
      border-top: 1px solid #e8e8e8;
      transition: all .1s;
      -o-transition: all .1s;
      -moz-transition: all .1s;
      -webkit-transition: all .1s;
    }

    .mplayer-list-box li:hover {
      background-color: #e8e8e8;
    }

    .mplayer-list-active {
      background-color: #e8e8e8;
    }

    .mplayer-list-title {
      padding-left: 16px;
      color: #333;
    }

    .mplayer-list-author {
      float: right;
      font-size: 12px;
    }

    svg {
      display: block;
    }

    #mplayer-pre,
    #mplayer-play,
    #mplayer-next {
      float: left;
    }

    #mplayer-mode,
    #mplayer-menu {
      float: right;
    }

    .mplayer-btn {
      fill: #333;
      cursor: pointer;
      margin-left: 8px;
      transition: all .3s;
      -o-transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
    }

    .mplayer-btn:hover {
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
    }